*{
    box-sizing: border-box;
    
    
    letter-spacing: 1.5px;
    line-height: 30px;
 
   
    margin: 0 auto;
    user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;

}
body{
  color: #787777;
   background-color: rgb(28, 27, 27);
}
.cont .box1 {
 
 
  background-size: 100% 100%;; 
  background-repeat: no-repeat;

}

.tel{
    border: 3px solid #f003f4;
    border-radius: 5px;
}




button{
  color: #787777;
  background-color: rgb(28, 27, 27);
    border: none;
}
span{
        font-size: 40px;
        color: aliceblue;
}
.tab{
    margin: 15px;
}
.tablinks{
    font-size: 30px;
}
h3{
    font-size: 30px;
}
h4{
 font-weight: bold;
 font-size: 20px;
}

.close{
  padding:20px 20px ;
}
.bbox1{ 
 

  color: rgb(93, 91, 91);
  font-size: 45px;

}
.box1{
    text-align: center;
    /* padding-top: 30px; */
      
    
    
}
.box11{
  text-align: center;  
}

.box2{
    margin-top: 40px;
    display: none;
}

.b{
    display: flex;
    width: 100%;
   
}

.b1{
    width: 40%;
    text-align:left ;
    margin-left: 10%;
}

.b2{
    width: 23%;
}

.b3{
    width: 23%;
}

.b4{
    width: 23%;
    margin-right: 0px;
}

.tabcontent {
    display: none;
    
    font-size: 20px;
    
  
  }

  .img1 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  .fot{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 100px;
 
  }
  .team{
    padding: 20px;
  }


  
  .team1{
       padding: 20px;

   


     

  }
  .img{    
 
    width: 350px;
    height: 450px;
    
  }
  .p1{
    padding-top: 0px;
    margin-top: 0px;
    background-color: rgb(244, 244, 244);
    overflow: hidden;
  }

  .footer{
    margin-top:160px ;
    text-align: center;
  }
  .in{
    width: 60px;
    height: 60px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-top: 100px;
    
  }
  select{
    border: 1px solid rgb(28, 27, 27);
    margin-left: 0px;
    margin-bottom: 40px;


  }
  option{
    border: 1px solid rgb(28, 27, 27);
  }
  .master{
    display: flex; 
  }
  .spec{
  margin-right: 5px;
  }
#select{
  color: #787777;
  background-color: rgb(28, 27, 27);
  margin-top: 5px;
  font-size: 15px;
}
  .section{
    display: flex;
    font-size: 15px;
  }
  .section1{
    text-align: left; 
  }

  .section2{   
  display: none;
  }

  .container {
    width: 95%;
    max-width: 1160px;
    margin: auto;
}
.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    
}
.box {
    height: 250px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #4b00ff;
}
.row-outer {
    padding: 50px 0;
}
.nm{
  display: flex;
}
.logo1 img{
  width: 100px;
  height: 50px;
}

.logo img {
  
 
  width: 100px;
  height: 50px;

  }
  @media (max-width: 768px){
    .body{
    
    }
    .box12{
      background-size: cover;
      background-position: center;
    }
    .box1{
      position: relative;
      height: 100vh;
      }
      .bbox1{
        position: absolute;
      }
      .close{
       
        margin-bottom: 0px;
        color: rgb(1, 1, 1);
        padding: 5px 10px;
        text-align: left;
        font-size: 30px;
       
      }
      .logo img {
        /* position: absolute;
        right: 5px; */
        width: 80px;
        height: 40px;

      }
      .ikoni{
        position: relative;
        top: 45%;
        left: 50%;
        transform: translate(-50%, 50%);
      }
      .header{
        background-color: #fffefe;
        display: flex;
        align-items: center;
        height: 70px;
        color: black;
      
      }
      .nomer{
        letter-spacing: 0px;
      }
      .in{
        padding-bottom: 0px;
        padding-left: 0px;
        width: 30px;
        height: 30px;
      }
      .oo{
        height: 80vh  ;
        background-repeat:no-repeat;
        background-size: 100% 100%;
      }
      .cont .box1 {
          }

      }
    
  
  